<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{meuEcg}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-padding">
    <!-- nome de cadastro selecionado -->
    <ion-item-divider class="ion-padding">Nome do cadastro selecionado</ion-item-divider>
  </div><br>
  <div>
    <!-- data atual -->
    <ion-datetime presentation="date" [preferWheel]="true"></ion-datetime>
  </div>
  <div class="plotagem">
    <!-- plotagem de um gráfico de ECG -->
  </div>
</ion-content>
